<ion-header>
  <ion-toolbar>
    <ion-title>
      NearCast Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>NearCast Test</p>
  </div>
</ion-content>
